<aside class="col-3 border border-light bg-white mt-4">
    
    <article class="card mb-3">
       
         
      <div class="card-header text-white " style="background-color:#1A237E">
          <p class="text-white"><a class="text-white" href="{{ path('admin_destinations_index') }}">Dashboard</a></p>
      </div>
      
       <div class="card-header text-white " style="background-color:#1A237E">
          <p class="text-white"><a class="text-white" href="{{ path('admin_destinations_add') }}">Ajouter une destination</a></p>
       </div>
       
    </article>     
</aside>